@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300&display=swap');

.container {
    margin: 0 auto;
    padding: 0 40px;
}

.footer {
    a {
        color: whitesmoke;
    }

    font-weight: bold;
    font-size: 14px;
    width: 100%;
    background-color: #010101;
    font-family: 'Montserrat',
    sans-serif;
    color: white;

    .top {
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        // gap: 100px;
        padding: 10px 10px;
        box-sizing: content-box;
        align-items: center;

        .shortcuts {
            display: flex;
            justify-content: space-around;
            width: 50%;
            padding: 0 10px;
            gap: 50px;
            .menu{
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 5px;
                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    a{
                        color: gray;
                    }
                }
            }

            .categories {
                display: flex;
                flex-direction: column;
                // align-items: center;
                // text-align: left;
                // justify-content: left;


                ul {
                    list-style: none;

                    li {
                        opacity: 0.6;
                        margin-bottom: 3px;
                        cursor: pointer;
                        font-size: 10px;

                        display: flex;
                        flex-direction: column;

                        a {
                            color: whitesmoke;

                        }
                    }
                }

                ul {

                    a:hover {
                        font-size: 14.2px;
                        opacity: 0.8;
                        transition: 1s;
                    }
                }

                // padding: 10px;
                display: flex;
                gap: 5px;
                flex-direction: column;
                // justify-content: center;
                // align-items: start;
            }
        }


        .about {

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            padding: 10px;
            max-width: 50%;

            h3 {
                font-weight: bolder;
            }

            .text{
                text-align: center;

                p {
                    margin-bottom: 2px;
                    word-break: break-all;
    
                    opacity: 0.6;
                    font-size: 10px;
                }    
            }
            

        }

    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid whitesmoke;

        padding: 2px 30px;

        .icons {
            list-style: none;
            display: flex;
            gap: 3px;
            text-decoration: none;

            a {
                color: white;
            }
        }
    }

}







//mobile
@media (min-width: 100px) and (max-width: 768px) {
    .footer {
        font-size: 10px;

        .top {
            flex-direction: column;
            align-items: center;
            gap: 10px;
            justify-content: center;

            .shortcuts {
                width: 60%;
                // justify-content: space-between;
                .menu{
                    ul{

                        flex-direction: row;
                        gap: 5px;
                        align-items: center;
                    }
                }

            }

            .about {
                max-width: 500px;
                padding: 10px;
                text-align: center;
                align-items: center;
            }
        }

        .bottom {
            flex-direction: column;
            gap: 5px;
        }
    }

}